*{
	box-sizing: border-box;	
}

/** HEADER **/
#header-nav {
    background-color: greenyellow;
    border-radius: 0;
    border: 0;
    height: fit-content;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .navbar-brand {
    padding-top: 25px; 
    padding-bottom: 25px;
  }

  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #000f;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
   margin-bottom: 0;
   line-height: .75;
}

  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

 
#nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    margin-top: 0px;
    background-color: rgb(214, 67, 111);
    color: black;
    text-align: center;
  }
  #nav-list a:hover {
    background: white;
  }
  #nav-list a  {
    font-size: 1.4em;
  }
  #collapsable-nav a{
      margin-top: 0px;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  /* END HEADER */

  /* Main Content */

  .backg{
    float: left;
	background-color: #f1e8b8;
    padding:30px;
    padding-top: 10px;
    margin: 20px;
}

h4{
	
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: maroon;
  ;
}

h2{
	text-align: center;
	color: #510945;
	 font-family: "Comic Sans MS", Courier, monospace; 

}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
